<%- include('../includes/head.ejs') %>

    <%- include('../includes/navigation.ejs') %>        

    <section class="section-products">
        <div class="container">
            <div class="row">
                 <div class="col-12">
                        <a href="/admin/add-product" class="btn btn-outline-primary" style="width: 100%;margin-bottom: 30px;"><i class="fas fa-plus"></i></a>
                 </div>   
            </div>
        </div>         
        <div class="container">
        <div class="row">
        <% 
            if (prods.length > 0) { 
            let i = 0;        
        %>
    
    
    
        <% 
            for (let product of prods) { 
            i = i + 1;    
        %>
    
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card" style="width: 100%;font-size: 70% !important;">
                <div class="card-header">$<%= product.price %></div>
                <div class="card-body">
                    <img class="card-img-top" src="<%= product.imageUrl %>" alt="<%= product.title %>">
                    <div class="card-body">
                        <h4 class="card-title text-center"><%= product.title %></h4>
                        <p class="card-text text-center"><%= product.description %>.</p>
                        <div style="width: 100%;">
                            <div class="btn-group" style="width: 100%;">
                                <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn btn-outline-primary"><i class="far fa-edit"></i></a>
                                <!--<a href="/admin/delete-product/<%= product._id %>" class="btn btn-outline-danger" data-animal-type="<%= product._id %>"><i class="fas fa-trash"></i></a>-->
                                <a href="#" class="btn btn-outline-danger" id="product-delete" data-productId="<%= product._id %>" data-csrf="<%= csrfToken %>" onclick="deleteProduct(this)"><i class="fas fa-trash"></i></a>                                
                                <a href="#" class="btn btn-outline-warning"><i class="fas fa-check"></i></a>
                            </div>  
                        </div>                 
                    </div>                        
                </div> 
                <div class="card-footer">Footer</div>
                </div>
            </div>
    
        <%
            if (i > 0 && i % 3 === 0){
        %>     
            </div><div class="row" style="margin-top: 20px;">      
        <%
            }
        %>
        <% } %>
        <% } else { %>
            <div class="col-12"><h5>No Products Found!</h5></div>
        <% } %>
        </div>
        </div>

        <%- include('../includes/pagination.ejs', {path: path, hasPreviousPage: hasPreviousPage, hasNextPage: hasNextPage, previousPage: previousPage, currentPage: currentPage, lastPage: lastPage, nextPage: nextPage}) %>

        <!--https://dummyimage.com/600x400/000/fff-->
        </section>

<%- include('../includes/end.ejs') %>
<script>
    const deleteProduct = (btn) => {
        console.log('Product deleted.');
        //the data attribute did not work when it was like this 'data-product-id'
        //console.log(btn.getAttribute('data-productId'));
        //console.log(btn.getAttribute('data-csrf'));
        const prodId = btn.getAttribute('data-productId');
        const csrf = btn.getAttribute('data-csrf');

        const productElement = btn.closest('.card');

        console.log(productElement);

        fetch(`/admin/product/${prodId}`, {
            method: 'DELETE',
            headers: {
                'csrf-token': csrf
            }
        })
        .then(result => {
            return result.json();
        })
        .then(data => {
            console.log(data);
            productElement.remove();//works on modern browsers
            //productElement.parentNode.removeChild(productElement);//all browser support

            //reload the page in 2 seconds and restore pagination to it's normal state
            setTimeout(function(){ 
                location.reload();
            }, 2000);
            

        })
        .catch(err => {
            console.log(err);
        });

    };
</script>