<%- include('../includes/head.ejs') %>

    <%- include('../includes/navigation.ejs') %>        

    <section class="section-welcome">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>Cart.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">

                    <% if (isAuthenticated){ %>

                    <div class="list-group">

                        <% if(products.length > 0){ 
                            products.forEach(p => {
 
                        %>    

                        <li class="list-group-item" style="margin-top: 10px;">
                            <div style="float: left;width: 70%;">
                               <img src="http://localhost:3000/<%= p.productId.imageUrl %>" class="img-fluid" alt="Products" height="auto" width="210px">
                            </div>
                            <div style="float: left;font-size: 70%;width: 20%;text-align: right;">
                                <h5>
                                    <%= p.productId.title %>
                                </h5>
                                <p>Price: $<%= p.productId.price %> </p>
                                <p>Qty: <%= p.quantity %></p>
                                <!--<p>Price extended: $3000</p>-->
                            </div> 
                            <div style="float: left;font-size: 70%;width: 10%;text-align: right;">
                                <a href="/cart-delete-item/<%= p.productId._id %>">
                                    <p><i class="far fa-times-circle text-danger" style="font-size: 400%;"></i></p>      
                                </a>                             
                            </div>                             
                            <div class="clearfix"></div>                           
                        </li> 
                        

                        <% 
                           }); 
                        %>

                           <!--<a href="/create-orders" class="btn btn-outline-primary" style="width: 100%;margin-top: 20px;">ORDER NOW</a>-->
                           <a href="/checkout" class="btn btn-outline-primary" style="width: 100%;margin-top: 20px;">ORDER NOW</a>    
    
                        <%  
                           } else { 
                        %>    
                            <h5>No products to display.</h5>
                        <% } %>
                        
                </div>            
                    </div>
                        <%    

                        } else {
                            
                        %>    

                <div class="list-group"><!--DISPLAYING CART FOR NOT LOGGED IN USER-->

                        <% if(products.length > 0){ 
                            products.forEach(p => {
    
                        %>    

                        <li class="list-group-item" style="margin-top: 10px;">
                            <div style="float: left;width: 70%;">
                                <!--<img src="https://dummyimage.com/750x500/8a878a/fff" class="img-fluid" alt="Products" height="150px" width="150px">-->
                                <img src="<%= p.imageUrl %>" class="img-fluid" alt="Products" height="auto" width="210px">
                            </div>
                            <div style="float: left;font-size: 70%;width: 20%;text-align: right;">
                                <h5>
                                    <%= p.title %>
                                </h5>
                                <p>Price: $<%= p.price %> </p>
                                <p>Qty: <%= p.qty %></p>
                                <!--<p>Price extended: $3000</p>-->
                            </div> 
                            <div style="float: left;font-size: 70%;width: 10%;text-align: right;">
                                <a href="/cart-delete-item/<%= p._id %>">
                                    <p><i class="far fa-times-circle text-danger" style="font-size: 400%;"></i></p>      
                                </a>                             
                            </div>                             
                            <div class="clearfix"></div>                           
                        </li> 
                        

                        <% 
                            }); 
                        %>
                           <h6 class="text-warning" style="margin-top: 20px;">Cart Total: $<%= session.cartTotal %></h6>
                           <h5 class="text-default" style="margin-top: 20px;">Please <a href="/login">Login</a> to Checkout.</h5>
                            
                        <%  
                            } else { 
                        %>    
                            <h5>No products to display.</h5>
                        <% } 
                        %>
                    </div> 
                </div>    
                        <%

                        }
                            
                        %>    
                       


                
                
            </div>


        </div>
 
    </section>

<%- include('../includes/end.ejs') %>