<%- include('../includes/head.ejs') %>

    <%- include('../includes/navigation.ejs') %>        

    <section class="orders-header-img">
        <div class="user-profile-image text-center" style="width: 100%;">
            <img src="/img/bird.jpg" alt="User Image" class="img-thumbnail" height="100px" width="100px" style="margin-top: 100px;">
        </div>
    </section>

    <section class="section-welcome">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>Order Details</h3>
                    <p style="font-size: 90%;">These are the order details for this order. You can download the invoicde by <a href="/order-invoice/<%= orderId %>">Clicking Here</a></p>
                </div>
            </div>
        </div>
        <div class="container">
        <div class="row">
        <div class="col-12">  

<% if(orders.length > 0){ 

        orders.forEach(p => {
%>           
        <div class="list-group" style="font-size: 70%;">
            <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;<%= p.product.title %> (Quantity - <%= p.quantity %>)&nbsp;<img style="float:right;" src="http://localhost:3000/<%= p.product.imageUrl %>" alt="Product Image" width="100px" height="auto"></a>
            <div class="clearfix"></div>
        </div>
        <% 
        }); 

    } else { 
 %>    
     <h5>No Orders to display.</h5>
 <% 
 
    }
 %>          
        </div>
        </div>
        </div>          
    </section>

<%- include('../includes/end.ejs') %>