<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>     
<!-- Page Content -->
<div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4"> 
          <small><%= product.title %></small>
        </h1>
      
        <!-- Portfolio Item Row -->
        <div class="row">
      
          <div class="col-md-8">
            <img class="img-fluid" src="https://dummyimage.com/750x500/000/fff" alt="">
            <form action="/cart" method="post">
                <input type="hidden" name="productId" value="<%= product._id %>">
                <button type="submit" class="btn btn-info" style="width: 100%;margin-top: 20px;">ADD TO CART</button>
            </form>
          </div>
      
          <div class="col-md-4">
            <h3 class="my-3">Description</h3>
            <p><%= product.description %></p>
            <h3 class="my-3">Project Details</h3>
            <ul style="padding-left: 0;list-style: none;">
              <li>Price: $<%= product.price %></li>
              <li>ID: <%= product._id %></li>
            </ul>

          </div>
      
        </div>
        <!-- /.row -->
      
        <!-- Related Projects Row -->
        <h3 class="my-4">Related Projects</h3>
      
        <div class="row">
      
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="https://dummyimage.com/500x300/000/fff" alt="">
                </a>
          </div>
      
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="https://dummyimage.com/500x300/000/fff" alt="">
                </a>
          </div>
      
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="https://dummyimage.com/500x300/000/fff" alt="">
                </a>
          </div>
      
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="https://dummyimage.com/500x300/000/fff" alt="">
                </a>
          </div>
      
        </div>
        <!-- /.row -->
      
      </div>
      <!-- /.container -->
<%- include('../includes/end.ejs') %>      