<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>     
<!-- Page Content -->
<div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4"> 
          <small><%= product.title %></small>
        </h1>
      
        <!-- Portfolio Item Row -->
        <div class="row">
      
          <div class="col-md-8">
            <img class="img-fluid" src="http://localhost:3000/<%= product.imageUrl %>" alt="Product">
            <form action="/cart" method="post">
                <input type="hidden" name="productId" value="<%= product._id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn btn-outline-warning" style="width: 100%;margin-top: 20px;">ADD TO CART</button>
            </form>

            <div class="card-header" style="margin-top: 40px; font-size: 70%;">
                Product Reviews
              </div>
              <div class="card-body" style="font-size: 70%;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                <hr>
                <a href="#" class="btn btn-success">Leave a Review</a>
              </div>            

          </div>
      
          <div class="col-md-4">
            <h3 class="my-3">Description</h3>
            <p style="font-size: 70%;"><%= product.description %></p>
            <h3 class="my-3">Product Details</h3>
            <ul style="padding-left: 0;list-style: none;font-size: 70%;">
              <li>Price: $<%= product.price %></li>
              <li>ID: <%= product._id %></li>
            </ul>

          </div>
      
        </div>
        <!-- /.row -->
      
        <!-- Related Projects Row -->
        <h3 class="my-4">Related Products</h3>
      
        <div class="row">
      
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="https://dummyimage.com/500x300/000/fff" alt="">
                </a>
          </div>
      
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="https://dummyimage.com/500x300/000/fff" alt="">
                </a>
          </div>
      
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="https://dummyimage.com/500x300/000/fff" alt="">
                </a>
          </div>
      
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="https://dummyimage.com/500x300/000/fff" alt="">
                </a>
          </div>
      
        </div>
        <!-- /.row -->
      
      </div>
      <!-- /.container -->
<%- include('../includes/end.ejs') %>      